.css-2613qy-menu {
   z-index: 100 !important;
}

.question-label {
   font-family: Open Sans !important;
   opacity: 1 !important;
   background: #fff !important;
   margin-left: 15px;
   font-size: 16px !important;
   line-height: 16px !important;
   color: #8d8d8d !important;
}

.svg-color-green {
   stroke: green !important;
}
